<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div  class=" panel panel-primary">
      <div class="panel-heading">
   <h3 class="panel-title">{{user}}</h3>
    </div>
      <div ng-hide="status=='Fail'" class="panel-body">
      
	<table class="table table-condensed">
		<tr class="sucess" >
			<th>Policy Name</th>
			<th>Policy Number</th>
			<th>Monthly Premium</th>
			<th>Current Status</th>
		</tr>
		<tr ng-repeat="policy in listPolicies">
			<td>{{policy.policyName}}</td>
			<td>{{policy.policyNumber}}</td>
			<td>{{policy.monthlyPremium}}</td>
			<td>{{policy.status}}</td>
			<td><button type="button"  class="btn btn-sm btn-success" ng-hide="status=='Fail'">&nbsp; View Details &nbsp;</button></td>
		</tr>
	</table>
     
      </div>
      </div>

    </div>
  </div>
   
 