 <link href="css/admin.css" rel="stylesheet">
<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Bact to Website</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#notifications" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i></a>
                    
                </li>
       
                <li class="dropdown">
                    <a href="#/ignore" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user.userName}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li> 
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ui-sref="logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a  ui-sref="dashboard.home"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    
                    <li ng-show="user.userName=='admin'">
                    	<a ui-sref="dashboard.addProduct"><i class="fa fa-fw fa-edit"></i> Add Product</a>
                    </li>
                    <li ng-show="user.userName=='admin'">
                    	<a ui-sref="dashboard.allPolicies"><i class="fa fa-fw fa-edit"></i> All Policies</a>
                    </li>
                        <li ng-show="user.userName!='admin'">
                    	<a ui-sref="dashboard.applyForAgent"><i class="fa fa-fw fa-edit"></i>Apply for Agent</a>
                    </li>
                    <li>
                       <a ui-sref="dashboard.premium"><i class="fa fa-fw fa-edit"></i> Calculate Premium</a>
                    </li>
                     <li>
                       <a ui-sref="dashboard.respectivePolicies"><i class="fa fa-fw fa-edit"></i> My Policies</a>
                    </li>
                     <li>
                       <a ui-sref="dashboard.disburse"><i class="fa fa-fw fa-edit"></i> Assess disbursement of claims</a>
                    </li>
                     <li>
                       <a ui-sref="dashboard.claim"><i class="fa fa-fw fa-edit"></i>Claim</a>
                    </li>
                    <!-- 
           
                    <li>
                        <a href="#/analysis"><i class="fa fa-fw fa-bar-chart-o"></i> Analysis</a>
                    </li>
                    <li>
                        <a href="#/requests"><i class="fa fa-fw fa-edit"></i> Handle Requests</a>
                    </li>
             
                    <li>
                        <a href="/settings"><i class="fa fa-fw fa-wrench"></i> Settings</a>
                    </li>
                  -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
	<div ui-view></div>
                
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    