

<form>

<div class="form-group">
  
  <div class="col-md-16">
  	<label class="radio-inline" for="status-0">
      <input type="radio" name="status" id="status-0" ng-model="status" value=" " checked="checked">
      All
    </label>
    <label class="radio-inline" for="status-0">
      <input type="radio" name="status" id="status-1" ng-model="status" value="approved" >
      Approved
    </label> 
    <label class="radio-inline" for="status-1">
      <input type="radio" name="status" id="status-2" ng-model="status" value="rejected" >
      Rejected
    </label> 
    <label class="radio-inline" for="status-2">
      <input type="radio" name="status" id="status-3" ng-model="status" value="pending" >
      Pending
    </label>
   
   
   
   
   <div class="row">
  	
	<div  class=" panel panel-primary">
 
  	<table class="table table-condensed">
  	
 	 
  	<tr>
  		<th>Name</th>
  		<th>Smoker</th>
  		<th>Policy Name</th>
  		<th>Monthly Premium</th>
  		<th>Annual Income</th>
  		<th>Age Proof</th>
  		<th>Income Proof</th>
  		<th>Resident Proof</th>
  		<th>Photo File</th>
  		<th>Current Status</th>
  		<th>Change Status</th>
  	</tr> 
  	   	<tr ng-repeat="policy in policyList | filter: status ">
  		<td>{{policy.userName}}</td>
  		<td>{{policy.smoker}}</td>
  		<td>{{policy.policyName}}</td>
  		<td>{{policy.monthlyPremium}}</td>
  		<td>{{policy.annualIncome}}</td>
  		<td><a href="http://localhost:8080/imservices/file/{{policy.ageProofFile}} ">{{policy.userName}}'s Age Proof</a></td>
  		<td><a href="http://localhost:8080/imservices/file/{{policy.incomeProofFile}} ">{{policy.userName}}'s Income Proof</a></td>
  		<td><a href="http://localhost:8080/imservices/file/{{policy.residenceProofFile}} ">{{policy.userName}}'s Resident Proof</a></td>
  		<td><a href="http://localhost:8080/imservices/file/{{policy.photoFile}} ">{{policy.userName}}'s Photo File</a></td>
  		<td>{{policy.status}}</td>
  		<td><input type="radio" name="status" id="status-2" ng-model="status" value="approved">approved<br>
  		 <input type="radio" name="status" id="status-2" ng-model="status" value="rejected">rejected<br>	
 	<button type="button" value="Refresh page" onclick="location.reload(true);" ng-click="setStatus(status,policy.policyNumber)" class="btn btn-sm btn-primary">Set</button></td>
  	</tr>
  	
  </table>
  
  
  
  
  </div>
  </div>
  </div>
  
  </div>
  	</div>
  

</form>





