

<form>

<div class="form-group">
  
  <div class="col-md-16">
  
  	<div class="btn-group">
   
    <label class="btn btn-primary" ng-model="claimStatus" uib-btn-radio="''">All</label>
        <label class="btn btn-primary" ng-model="claimStatus" uib-btn-radio="'approved'">Approved</label>
        <label class="btn btn-primary" ng-model="claimStatus" uib-btn-radio="'rejected'">Rejected</label>
  <label class="btn btn-primary" ng-model="claimStatus" uib-btn-radio="'pending'">Pending</label>
    </div>
   
   <br><br>
   
   <div class="row">
  	
	<div  class=" panel panel-primary" ng-hide="hideTable">
 
  	<table class="table table-condensed" class="panel-heading">
  	
  	 <tr>	<div class="panel-heading">
				<h3 class="panel-title">Claims </h3>
			</div>
 	 </tr>
 	 
  	<tr  class="panel panel-info" >
  		<th>Name</th>
  		<th>Policy Number</th>
  		<th>Policy Name</th>
  		<th>Claim Amount</th>
  		<th>Date of claim</th>
  		<th>Claim Type</th>
  		<th>Approved Claim Amount</th>
  		<th>Claim Documents</th>
  		<th>Current Status</th>
  		<th>Approve/Reject</th>
  	</tr> 
  	<tr ng-repeat="claim in claimList | filter: claimStatus">
  		<td>{{claim.userName}}</td>
  		<td>{{claim.policyNumber}}</td>
  		<td>{{claim.policyName}}</td>
  		<td>{{claim.claimAmount}}</td>
  		<td>{{claim.dateOfClaim}}</td>
  		<td>{{claim.claimType}}</td>
  		<td>{{claim.approvedClaimAmount}} Year</td>
  		<td><a href="http://localhost:8080/imservices/file/{{claim.claimDocuments}}">Download Now</a></td>
  		<td>{{claim.claimStatus}}</td>
  		<td>
  			<input type="radio" name="claimStatus" id="claimStatus-4" ng-model="claimStatus" value="approved">approved<br>
  		 <input type="radio" name="claimStatus" id="claimStatus-5" ng-model="claimStatus" value="rejected">rejected<br>	
 	<button type="button" value="Refresh page" ng-click="setClaimStatus(claim.id,claimStatus)" class="btn btn-sm btn-primary">Set</button>
 	  		</td>
  	</tr>
  	
  </table>
  
  
  </div>
  <br><br>
   <div class="alert alert-danger" ng-hide="showSuccess">
				
			You have no claims.		   
</div>
  </div>
  </div>
  
  </div>
  	
  

</form>





