

<form>

<div class="form-group">
  
  <div class="col-md-16">
  	
  <div class="btn-group">
   
    <label class="btn btn-primary" ng-model="claimStatus" uib-btn-radio="''">All</label>
        <label class="btn btn-primary" ng-model="claimStatus" uib-btn-radio="'agent'">Approved</label>
        <label class="btn btn-primary" ng-model="claimStatus" uib-btn-radio="'rejected'">Rejected</label>
  <label class="btn btn-primary" ng-model="claimStatus" uib-btn-radio="'pending'">Pending</label>
    </div>
   
    
   <br><br>
    	</div>
   
   <div class="row">
  	
	<div  class=" panel panel-primary" ng-hide="hideTable">
 
  	<table class="table table-condensed" class="panel-heading">
  <tr>	<div class="panel-heading">
				<h3 class="panel-title">Agent List</h3>
			</div>
 	 </tr>
  	<tr  class="panel panel-info" >
  		<th>Name</th>
  		<th>Age</th>
  		<th>Last Qualification</th>
  		<th>Present Occupation</th>
  		<th>Rewards</th>
  		<th>Work Experience</th>
  		<th>Current Status</th>
  		<th>Approve/Reject</th>
  	</tr> 
  	<tr ng-repeat="agent in agentList | filter: userType">
  		<td>{{agent.userName}}</td>
  		<td>{{agent.age}}</td>
  		<td>{{agent.lastQualification}}</td>
  		<td>{{agent.presentOccupation}}</td>
  		<td>{{agent.rewards}}</td>
  		<td>{{agent.workExperience}} Year</td>
  		<td>{{agent.userType}}</td>
  		<td>
  			<input type="radio" name="userType" id="userType-4" ng-model="userType" value="agent">approved<br>
  		 <input type="radio" name="userType" id="userType-5" ng-model="userType" value="rejected">rejected<br>	
 	<button type="button" value="Refresh page" ng-click="setAgentStatus(agent.userName,userType)" class="btn btn-sm btn-primary">Set</button>
 	  		</td>
  	</tr>
  	
  </table>
  
  
  </div>
  <br><br>
   <div class="alert alert-danger" ng-hide="showSuccess">
				
			You have no agents associated.		   
</div>
  </div>
  </div>
  
  </div>
  	
  

</form>





