<br>
<br>
<br>
<div class="row">
	<div class="col-xs-1
	 col-sm-1
	 col-md-1
	 col-lg-1
	 ">
		
	</div>
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Agent Details</h3>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" ng-submit="submit()" ng-hide="hideForm">
					<fieldset>
					<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="age">Age </label>
							<div class="col-md-4">
								<input id="lastName" name="lastName" ng-model="lastName" type="text" placeholder="" class="form-control input-md" required="">
								
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="lastQualification">Qualification</label>
							<div class="col-md-4">
								<input id="lastQualification" name="lastQualification" ng-model="lastQualification" type="text" placeholder="" class="form-control input-md" required="">
								
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="presentOccupation">Occupation</label>
							<div class="col-md-4">
								<input id="presentOccupation" name="presentOccupation" ng-model="presentOccupation" type="text" placeholder="" class="form-control input-md" required="">
								
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="rewards">Rewards</label>
							<div class="col-md-4">
								<input id="rewards" name="rewards" ng-model="rewards" type="text" placeholder="" class="form-control input-md" required="">
								
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="workExperience">Work Experience</label>
							<div class="col-md-4">
								<input id="workExperience" name="workExperience" ng-model="workExperience" placeholder="" class="form-control input-md" required="">
								
							</div>
						</div>
						<!-- Text input-->
						
						
						<!-- Button -->
						<div class="form-group">
							<label class="col-md-4 control-label" for=""></label>
							<div class="col-md-4">
								<input type="submit" id="" name="" class="btn btn-primary" value="Apply">
								<!-- <div class="alert alert-info">
  Thank you for your interest. Our Representative will be contacting you shortly. Have a nice day..! 
  </div> -->
							</div>
						</div>
					</fieldset>
				</form>
				<div class="alert alert-success" ng-show="showSuccess">
				
					  Thank you for your interest. Our Representative will be contacting you shortly. Have a nice day..! 
				</div>
			</div>
		</div>
	</div>
	
</div>