<style>
.input-group-addon.primary {
	color: rgb(255, 255, 255);
	background-color: rgb(50, 118, 177);
	border-color: rgb(40, 94, 142);
}

.input-group-addon.success {
	color: rgb(255, 255, 255);
	background-color: rgb(92, 184, 92);
	border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
	color: rgb(255, 255, 255);
	background-color: rgb(57, 179, 215);
	border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
	color: rgb(255, 255, 255);
	background-color: rgb(240, 173, 78);
	border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
	color: rgb(255, 255, 255);
	background-color: rgb(217, 83, 79);
	border-color: rgb(212, 63, 58);
}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}
</style>

<br><br><br>
<form name="userForm" class="form-horizontal" ng-submit="submit()" ng-hide="hideForm">
<fieldset>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
  <div class=" panel panel-primary">
<!-- Form Name -->
<div class="panel-heading">
<h3 class="panel-title">Add Claim</h3>
</div>
<div class="panel-body">


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="user">Managed Customer</label>
  <div class="col-md-4">
  <div class="input-group">
    <select id="managedCustomer" ng-change="policy()" name="managedCustomer" ng-model="managedCustomer" class="form-control" required="">
      <option value='{{user.userName}}' ng-repeat="user in userList | unique: 'userName'">{{user.userName}}</option>
    </select>
    <span class="input-group-addon none"
		ng-class="{ 'danger' :  userForm.managedCustomer.$touched && userForm.managedCustomer.$invalid  , 'success' : 	 !userForm.managedCustomer.$invalid }">
		<span class="glyphicon "
		ng-class="{ 'glyphicon-remove' : userForm.managedCustomer.$touched && userForm.managedCustomer.$invalid , 'glyphicon-ok' :  !userForm.managedCustomer.$invalid}">
		</span>
	</div>
  </div>
</div>


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="hello">Policy Name *</label>
  <div class="col-md-4">
  <div class="input-group">
    <select ng-change="updateDetails()" id="policyName" name="policyName" class="form-control" ng-model="policyName" ng-disabled="!managedCustomer"  required>
      <option value='{{policy.productName}}' ng-repeat="policy in policyList | unique: 'productName'">{{policy.productName}}</option>
    </select>
    <span class="input-group-addon none"
		ng-class="{ 'danger' :  userForm.policyName.$touched && userForm.policyName.$invalid  , 'success' : 	 !userForm.policyName.$invalid }">
		<span class="glyphicon "
		ng-class="{ 'glyphicon-remove' : userForm.policyName.$touched && userForm.policyName.$invalid , 'glyphicon-ok' :  !userForm.policyName.$invalid}">
		</span>
	</div>							
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic" required="">Policy Number *</label>
  <div class="col-md-4">
   <div class="input-group">
    <select id="policyNumber" name="policyNumber" class="form-control" ng-disabled="!policyName || !managedCustomer" ng-model="policyNumber" required>
      <option  value='{{policy.policyNumber}}' ng-repeat=" policy in policyList |filter: policyName" >{{policy.policyNumber}}</option>
     
    </select>
    <span class="input-group-addon none"
		ng-class="{ 'danger' :  userForm.policyNumber.$touched && userForm.policyNumber.$invalid  , 'success' : 	 !userForm.policyNumber.$invalid }">
		<span class="glyphicon "
		ng-class="{ 'glyphicon-remove' : userForm.policyNumber.$touched && userForm.policyNumber.$invalid , 'glyphicon-ok' :  !userForm.policyNumber.$invalid}">
		</span>
	</div>	
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Claim Type *</label>
  <div class="col-md-4">
  <div class="input-group">
    <select id="claimType" name="claimType" ng-model="claimType" class="form-control"  required="">
      <option  value="Medical" >Medical Claim</option>
      <option value="Accidental Death">Accidental Claim</option>
      <option value="Natural Death">Disease Claim</option>
    </select>
    <span class="input-group-addon none"
		ng-class="{ 'danger' :  userForm.claimType.$touched && userForm.claimType.$invalid  , 'success' : 	 !userForm.claimType.$invalid }">
		<span class="glyphicon "
		ng-class="{ 'glyphicon-remove' : userForm.claimType.$touched && userForm.claimType.$invalid , 'glyphicon-ok' :  !userForm.claimType.$invalid}">
		</span>
	</div>	
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="claimAmount" required="">Claim Amount *</label>  
  <div class="col-md-4">
  <div class="input-group">
  <input type="text" id="claimAmount" ng-change="check()" name="claimAmount" ng-model="claimAmount"  placeholder="Enter amount you claim" class="form-control input-md" ng-pattern="/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/" required >
  <span class="input-group-addon none"
										ng-class="{ 'danger' : userForm.claimAmount.$touched && userForm.claimAmount.$invalid , 'success' : userForm.claimAmount.$touched &&  !userForm.claimAmount.$invalid , 'block': userForm.claimAmount.$touched }">
										<span class="glyphicon "
										ng-class="{ 'glyphicon-remove' : userForm.claimAmount.$touched && userForm.claimAmount.$invalid , 'glyphicon-ok' : userForm.claimAmount.$touched &&  !userForm.claimAmount.$invalid}">
									</span>
								</div>
								<div class="help-block" ng-messages="userForm.claimAmount.$error"
									ng-if="userForm.claimAmount.$touched">
									<p ng-message="required">Amount is required.</p>
									<p ng-message="pattern">Amount has to be in numbers</p>
									
								</div>
									<div class="help-block">
									<p ng-show="claimAmountError">{{claimAmountErrortext}}</p>
									</div>
							</div>
  </div>
</div>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">Upload Document *</label>
  <div class="col-md-4">
  <div class="fileUpload btn btn-info">
  <span>Select file</span> 
     <input id="filebutton" name="filebutton" class="upload" 
			type="file" accept="application/pdf"
				onchange="document.getElementById('filebuttonText').innerHTML=this.files[0].name" required="">
  </div>
  <span id="filebuttonText"></span>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton" ></label>
  <div class="col-md-4">
    <input type="submit" id="" name="" class="btn btn-primary" value="Claim">
  </div>
</div>
</div>
	   </div>
      
    </div>
  </div>
</fieldset>
</form>

<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" ng-show="showSuccess">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Claim Notification</h3>
			</div>
			<div class="panel-body">

				<div class="alert alert-success" >
     Your Claim is saved and will be served soon. Thank You!!
				</div>
				<div class="col-md-6">
   					 <button type="button" class="btn btn-primary" value="Refresh" onclick="location.reload(true);">Add New Claim</button>
   					 <button type="button" class="btn btn-primary" ui-sref="dashboard.home">Back</button>
 			 </div>
				
			</div>

				