<form class="form-horizontal" ng-submit="submit()">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="UserName">User Name</label>  
  <div class="col-md-4">
  <input id="userName" name="userName" type="text" placeholder="Enter User Name" class="form-control input-md" ng-model="user.username" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Password">Password </label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Enter Password" class="form-control input-md" ng-model="user.password" required="">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="login"></label>
  <div class="col-md-8">
    <input type="submit" id="login" name="login" class="btn btn-primary" value="Login">
    <a id="register" name="register" class="btn btn-primary"  ui-sref="website.register">Register</a>
  </div>
</div>

</fieldset>
</form>
<div class="alert alert-danger" ng-show="loginerrorshow">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Error :</strong>Wrong username or password
</div>




