<!-- Marketing Icons Section -->
			<div class="row">
			<div class="row">
			<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-8">
		<img src="images/c4.jpg" class="img-responsive" alt="Image" style="display: block; width: 800px; height: auto;;">
	
  </div>
  	<div class="col-sm-2">&nbsp;</div>
</div>
				<div class="col-lg-12">
					<h1 class="page-header">
					Welcome to WorldWide Insurance	
					</h1>
				</div>
				<div class="col-md-4">

					<div class="panel panel-primary">
						<div class="panel-heading">
							<h4><i class="fa fa-fw fa-check"></i>What is life Insurance?</h4>
						</div>
						<div class="panel-body">
							<p>Life insurance is a contract that pledges payment of an amount to the person assured (or his nominee) on the happening of the event insured against.
							Among other things, the contract also provides for the payment of premium periodically to the Corporation by the policyholder.<br><br>
							</p>
							<a href="#" class="btn btn-default">Learn More</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h4><i class="fa fa-fw fa-gift"></i>Reliable</h4>
						</div>
						<div class="panel-body">
							<p>WorldWide Insurance in India made its debut well over 100 years ago.

In our country, which is one of the most populated in the world, the prominence of insurance is not as widely understood, as it ought to be. What follows is an attempt to acquaint readers with some of the concepts of life insurance, with special reference to LIC.</p>
							<a href="#" class="btn btn-default">Learn More</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h4><i class="fa fa-fw fa-compass"></i>Vision</h4>
						</div>
						<div class="panel-body">
							<p>Mission 
"Explore and enhance the quality of life of people through financial security by providing products and services of aspired attributes with competitive returns, and by rendering resources for economic development." 


Vision
"A trans-nationally competitive financial conglomerate of significance to societies and Pride of India."</p>
							<a href="#" class="btn btn-default">Learn More</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		
			<!-- Features Section -->
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">WorldWide Insurance Features</h2>
				</div>
				<div class="col-md-6">
					<p><strong>Our principles</strong></p>
					<ul>
						<li>Have some moral courage
						</li>
						<li>Erase the tagline, adopt a motto.</li>
						<li>Champion a movement not a campaign</li>
						<li>You are a lifelong experiment</li>
						<li>Wherever your head is, that's where your business is</li>
						<li>Make it, master it, then matter</li>
					</ul>

					<p class="text-justify">Spread Life Insurance widely and in particular to the rural areas and to the socially and economically backward classes with a view to reaching all insurable persons in the country and providing them adequate financial cover against death at a reasonable cost.
					Bear in mind, in the investment of funds, the primary obligation to its policyholders, whose money it holds in trust, without losing sight of the interest of the community as a whole; the funds to be deployed to the best advantage of the investors as well as the community as a whole, keeping in view national priorities and obligations of attractive return. 
					Conduct business with utmost economy and with the full realization that the moneys belong to the policyholders. 
					Act as trustees of the insured public in their individual and collective capacities.
					 </p>	
				</div>
				<div class="col-md-6">
					<img class="img-responsive" src="images/service.jpg" alt="">
				</div>
			</div>
			<!-- /.row -->
			<hr>
			<!-- Call to Action Section -->
			<div class="well">
				<div class="row">
					<div class="col-md-8">
						<p>We provide a large variety of products to suit your needs. Please try out our online brochure of products and find a great product for you.</p>
					</div>
					<div class="col-md-4">
						<a class="btn btn-lg btn-default btn-block" ui-sref="website.browse">Browse our policies</a>
					</div>
				</div>
			</div>