 <br><br>
 <input type="text" ng-model="productName"><br>
        Order by:
        <a href="" ng-click="predicate = 'productName'">name</a>
        <a href="" ng-click="predicate = 'settlementRatio'">settlementRatio</a>
<div class="row">

<div class=" panel panel-success"   ng-repeat="product in productListt | filter: productName | orderBy: predicate">
  <div class="panel-heading">
    <h3 class="panel-title">{{product.productName}}</h3>
  </div>
  <div class="panel-body">
    Monthly Premium: {{product.monthlyPremium}} INR
    <br>
    Basic Coverage : {{product.basicCoverage}} INR
    <br>
    Accidental Benefit : {{product.accidentalBenefit}} INR
    <br> 

	 Settlement Ratio : {{product.settlementRatio}} % of claim
	
   <br>

   
   <button type="button" class="btn btn-sm btn-success">Buy</button>
   <button type="button" class="btn btn-sm btn-primary" ui-sref="website.viewProduct({productName: 'hello'})">View in Detail</button>
  </div>
  
</div>


</div>
