<br>
<br>
<br>
<div class="row">
	<div class="col-xs-1
	 col-sm-1
	 col-md-1
	 col-lg-1
	 ">
		
	</div>
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Registration</h3>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" ng-submit="submit()">
					<fieldset>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="firstName">First Name</label>
							<div class="col-md-4">
								<input id="firstName" name="firstName" ng-model="firstName" type="text" placeholder="" class="form-control input-md" required="">
								
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="lastName">Last Name</label>
							<div class="col-md-4">
								<input id="lastName" name="lastName" ng-model="lastName" type="text" placeholder="" class="form-control input-md" required="">
								
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="address">Address</label>
							<div class="col-md-4">
								<input id="address" name="address" ng-model="address" type="text" placeholder="" class="form-control input-md" required="">
								
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="state">State</label>
							<div class="col-md-4">
								<input id="state" name="state" ng-model="state" type="text" placeholder="" class="form-control input-md" required="">
								
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="city">City</label>
							<div class="col-md-4">
								<input id="city" name="city" ng-model="city" type="text" placeholder="" class="form-control input-md" required="">
								
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="contactNo">Contact No</label>
							<div class="col-md-4">
								<input id="contactNo" name="contactNo" ng-model="contactNo" type="tel" pattern='^([0|\+[0-9]{1,5})?([7-9][0-9]{9})$' placeholder="" class="form-control input-md" required="">
								
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="email">Email</label>
							<div class="col-md-4">
								<input id="email" name="email" ng-model="email" type="email" placeholder="" class="form-control input-md" required="">
								
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="userName">userName</label>
							<div class="col-md-4">
								<input id="userName" name="userName"  ng-model="userName" type="text" placeholder="" class="form-control input-md" required="">
								
							</div>
						</div>
						<!-- Password input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="password">Password</label>
							<div class="col-md-4">
								<input id="password" name="password" ng-model="password" type="password" placeholder="" class="form-control input-md" required="">
								
							</div>
						</div>
						<!-- Button -->
						<div class="form-group">
							<label class="col-md-4 control-label" for=""></label>
							<div class="col-md-4">
								<input type="submit" id="" name="" class="btn btn-primary" value="Register">
							</div>
						</div>
					</fieldset>
				</form>
				<div class="alert alert-danger" ng-show="errorShow">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>Error :</strong>{{errorMsg}}
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		<div class="panel panel-info">
			  <div class="panel-heading">
					<h3 class="panel-title">Guidelines</h3>
			  </div>
			  <div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">Please fill up correct details</li>
						<li class="list-group-item">All fields are mandontary</li>
						<li class="list-group-item">Username cannot be changed once registered</li>
					</ul>
			  </div>
		</div>
	</div>
</div>