 <br><br>
<div class="row">
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="Search" ng-model="productName">
         Order by:
        <a href="" ng-click="predicate = 'productName'">Name</a> | 
        <a href="" ng-click="predicate = 'settlementRatio'">Settlement Ratio</a> |
         <a href="" ng-click="predicate = 'monthlyPremium'">Monthly Premium</a> |
               <a href="" ng-click="predicate = 'accidentalBenefit'">Accidental Benefit </a> |
     <br>   Sort : <a href="" ng-click="reverse=true">Descending</a>|<a href="" ng-click="reverse=false">Ascending</a>
</div>
</div>


<div class="row">

<div class=" panel panel-success" ng-repeat="product in productList | filter: productName | orderBy: predicate:reverse">
  <div class="panel-heading">
    <h3 class="panel-title">{{product.productName}}</h3>
  </div>
  <div class="panel-body">
    Monthly Premium: {{product.monthlyPremium}} INR
    <br>
    Basic Coverage : {{product.basicCoverage}} INR
    <br>
    Accidental Benefit : {{product.accidentalBenefit}} INR
    <br> 

	 Settlement Ratio : {{product.settlementRatio}} % of claim
	
   <br>

   
   <button type="button" class="btn btn-sm btn-success">Buy</button>
   <button type="button" class="btn btn-sm btn-primary" ui-sref="website.viewProduct({productName: product.productName})">View in Detail</button>
  </div>
  
</div>


</div>
