<form class="form-horizontal" ng-controller="LoginController" ng-submit="login(user)" action="views/dashboard.html" novalidate>
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="UserName">User Name</label>  
  <div class="col-md-4">
  <input id="UserName" name="UserName" type="text" placeholder="Enter User Name" class="form-control input-md" ng-model="user.username" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Password">Password </label>
  <div class="col-md-4">
    <input id="Password" name="Password" type="password" placeholder="Enter Password" class="form-control input-md" ng-model="user.password" required="">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="login"></label>
  <div class="col-md-8">
    <button id="login" name="login" class="btn btn-primary" >Login</button>
    <button id="register" name="register" class="btn btn-primary">Register</button>
  </div>
</div>

</fieldset>
</form>




