<br>
<br>
<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{{product.productName}}</h3>
			</div>

				<table class="table table-condensed">
		<tr class="sucess">
		<td>Monthly Premium
		</td>
		<td>{{product.monthlyPremium}} INR</td>
		</tr>
			<td>Basic Coverage
		</td>
		<td>{{product.basicCoverage}} INR</td>
		</tr>
			<td>Accidental Benefit
		</td>
		<td>{{product.accidentalBenefit}} INR</td>
		</tr>
			<td>Settlement Ratio
		</td>
		<td>{{product.settlementRatio}} % of claim</td>
		</tr>
		</table>
		<br>
			<div class="well">
				Description: {{product.description}} <br>
			</div>
			&nbsp;
			<button type="button" class="btn btn-sm btn-success"
				ui-sref="website.buyProduct({productName: product.productName})">&nbsp;Buy&nbsp;</button>
			<button type="button" class="btn btn-sm btn-primary"
				ui-sref="website.browse">Back</button>
			<br> <br>
		</div>

	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Product terms</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li ng-repeat="term in product.productTerms">{{term}}</li>
				</ul>
				<br>
			</div>
		</div>
	</div>
</div>
