<br>
<br>
<div class="row">
 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">{{product.productName}}</h3>
		</div>
		<div class="panel-body">
			Monthly Premium: {{product.monthlyPremium}} INR <br>
		</div>
		
		<div class="panel-body">
			Basic coverage: {{product.basicCoverage}} INR <br>
		</div>
		<div class="panel-body">
			Accidental Benefit: {{product.accidentalBenefit}} INR <br>
		</div>
		<div class="panel-body">
			Settlement Ratio: {{product.settlementRatio}} INR <br>
		</div>
		<div class="panel-body">
			Product Terms:
			<ul>
				<li ng-repeat="term in product.productTerms">{{term}}</li>
			</ul>
			<br>
		</div>
		<div class="well">
			Description: {{product.description}} <br>
		</div>
&nbsp;
		<button type="button" class="btn btn-sm btn-success" ui-sref="website.buyProduct({productName: product.productName})">&nbsp;Buy&nbsp;</button>
		<button type="button" class="btn btn-sm btn-primary"
			ui-sref="website.browse">Back</button>
			<br><br>
	</div>

</div>
</div>
